.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# databases
*sqlite*

# error logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python-local dev env
venv/
.vercel
