:root {
  font-family: 'Roboto'
}

*{
  margin: 0;
  padding: 0;
  box-sizing :border-box;
}

button {
  border: none;
}

a {
  color: unset;
  text-decoration: unset;
}

.markdown-container a {
  text-decoration: underline;
}
.markdown-container img {
  max-width: 100%;
}

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
